{% extends "admin/media/batch/base.html" %}
{% block title %}Batch Upload Images{% endblock %}
{% block page_title %}Batch Upload Images{% endblock %}


{% block upload_url %}{% url 'admin:media_image_add' %}{% endblock %}
{% block list_url %}{% url 'admin:media_image_changelist' %}{% endblock %}


{% block custom_inputs %}
    <div class='custom-inputs'>
        <div class="form-group">
            <label for="id_credit">Credit</label>
            <input type="text" class="form-control" name='credit' id="id_credit" placeholder="Credit">
        </div>

        <div class="form-group">
            <label for="id_caption">Caption</label>
            <input type="text" class="form-control" name='caption' id="id_caption" placeholder="Caption">
        </div>

        <div class="form-group">
            <label for="id_alt_text">Alt Text</label>
            <input type="text" class="form-control" name='alt_text' id="id_alt_text" placeholder="Alt Text">
        </div>

        <div class="form-group">
            <label for="id_admin_description">Admin Note</label>
            <input type="text" class="form-control" name='admin_note' id="id_admin_description" placeholder="Admin Descripiton">
        </div>

        <div class="checkbox">
            <label for='id_use_png'>
              <input type="checkbox" name='use_png' id='id_use_png'> Use .PNG (instead of .JPG)
            </label>
        </div>

        <div class="checkbox">
            <label for='id_clean_filename_on_upload'>
              <input type="checkbox" name='clean_filename_on_upload' id='id_clean_filename_on_upload' checked=checked> Clean filename on upload
            </label>
        </div>

        <div class="checkbox">
            <label for='id_allow_overwrite'>
              <input type="checkbox" name='allow_overwrite' id='id_allow_overwrite' checked=checked> Allow file to be overwritten
            </label>
        </div>

        

    </div>
    {% endblock %}